@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-color: #961699;
}

body {
  letter-spacing: 1.2px;
}

input::placeholder,
button {
  letter-spacing: 1.2px;
}
